{% extends 'shop/page_item/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="col-md-8 col-sm-8 col-12 col box">
        <div class="mx-auto">

            {% include 'shop/page_item/messages.html' %}
            <h2>Create product</h2>
            <p class="text-info">Choice image for auto fill form</p>
            <form method="post" enctype="multipart/form-data" class="form col-6 mx-auto">
                {% csrf_token %}

                <div class="form-group mx-0 mb-0">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="form-group mx-0">

                    <label for="id_description" class="requiredField">
                        Description<span class="asteriskField">*</span>
                    </label>
                    <input type="text"
                           name="description"
                           maxlength="256"
                           class="textinput textInput form-control"
                           required="" id="id_description"
                           value="{% lorem 6 w random %}">
                </div>

                <div class="form-group mb-0">
                    {{ form.price|as_crispy_field }}
                </div>

                <div class="form-group">

                    <label for="id_photo" class=" requiredField">
                        Photo<span class="asteriskField">*</span>
                    </label>
                    <div class="custom-file">
                        <input type="file" name="photo" class="custom-file-input" id="id_photo"
                               aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="id_photo" id="id_label">Choose file</label>

                    </div>

                    {% if form.photo.errors|length == 1 %}
                        <p class="invalid-feedback"><strong>{{ form.photo.errors|striptags }}</strong></p>
                    {% elif form.photo.errors|length > 1 %}
                        {% for error in form.photo.errors %}
                            <p class="invalid-feedback"><strong>{{ error|striptags }}</strong></p>
                        {% endfor %}
                    {% endif %}


                </div>

                <div class="form-group mb-0">
                    {{ form.count|as_crispy_field }}
                </div>


                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>


            </form>
        </div>
    </div>

    {% block script %}
        <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/product_create.js' %}"></script>
    {% endblock script %}

{% endblock content %}