{% extends 'shop/page_item/base.html' %}

{% load staticfiles %}

{% block content %}

    {% if user.is_authenticated %}

        {% include 'shop/page_item/you_cash.html' %}

        <div class="col-md-8 col-sm-8 col-12 col box">

            {% include 'shop/page_item/messages.html' %}

            <h2>Purchase history</h2>

            <div class="card-group mx-0 px-0">

                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" class="text-center">Image</th>
                        <th scope="col" class="text-center">Name</th>
                        <th scope="col" class="text-center">Count</th>
                        <th scope="col" class="text-center">Cost</th>
                        <th scope="col" class="text-center">Total cost</th>
                        <th scope="col" class="text-center">Data</th>
                        <th scope="col" class="text-center">Time</th>
                    </tr>
                    </thead>
                    <tbody class="purchase-list">

                    {% for purchase in purchases %}

                        <tr>
                            <td scope="row" class="text-center">
                                <img src="{{ MEDIA_URL }}{{ purchase.product.photo }}" alt="no image"
                                     onerror="if (this.src != 'static/images/alt.svg') this.src = '{% static "images/alt.svg" %}'"
                                >
                            </td>
                            <td class="text-center">
                                {{ purchase.product.name }}
                                {% include 'shop/return/create_form.html' %}
                            </td>
                            <td class="text-center">{{ purchase.count }}</td>
                            <td class="text-center">{{ purchase.product.price|floatformat:"-2" }} ₴</td>
                            <td class="text-center">{{ purchase.total|floatformat:"-2" }} ₴</td>
                            <td>{{ purchase.time|date:"d.m.Y" }}</td>
                            <td>{{ purchase.time|date:"H:i:s" }}</td>
                        </tr>

                    {% empty %}
                        <tr>
                            <td>no purchases</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>

            {% include 'shop/page_item/paginator.html' %}

        </div>
    {% endif %}
{% endblock content %}