<form class="col-4 px-0" action="{% url 'shop:purchase_create' product.pk %}" method="post">
    {% csrf_token %}
    <button type="submit" class="col nav-link btn btn-outline-info m-0 mx-auto">Buy</button>
    <input type="number"
           min="0"
           max="{{ product.count }}"
           value="1"
           class="numberinput form-control pl-2 pr-1 py-3 text-right m-0 mt-1"
           required=""
           name="count"
           id="id_count_{{ product.pk }}">
    {% with errors=purchase_create_form.errors %}
        {% if errors|length == 1 %}
            <p class="invalid-feedback"><strong>{{ errors|striptags }}</strong></p>
        {% elif errors|length > 1 %}
            {% for error in errors %}
                <p class="invalid-feedback"><strong>{{ error|striptags }}</strong></p>
            {% endfor %}
        {% endif %}
    {% endwith %}

</form>
